---
layout: base.njk
templateEngineOverride: njk
description: The homepage of Nathan Craddock
---

<h1 class="page-title">Posts</h1>

{% set postlist = collections.posts %}
{% include "postlist.njk" %}
