---
title: About
layout: base.njk
templateEngineOverride: njk,md
description: About Nathan Craddock, Developer, Artist.
---

Hi, I'm Nathan.

I am currently a student at BYU in my senior year researching DNS privacy as a research assistant.

In the summers of [2019](https://summerofcode.withgoogle.com/archive/2019/projects/5416561530109952/) and
[2020](https://summerofcode.withgoogle.com/archive/2020/projects/5735262606327808/) I participated in the Google Summer of Code
with [Blender](https://www.blender.org) improving the outliner editor.
My [commit history](https://miikahweb.com/en/blender/git-statistics/developers/natecraddock) shows other areas I contributed to.

Linux Mint's Cinnamon desktop environment on Arch Linux, paired with neovim and tmux is my development environment of choice.

Outside of computer science I enjoy hiking, running, reading, and playing piano.

Find me on [GitHub](https://github.com/natecraddock), [Twitter](https://twitter.com/natecraddock),
or email [contact@nathancraddock.com](mailto:contact@nathancraddock.com). This blog also has an [RSS feed](/feed.xml).

This website is hosted on [Cloudflare Pages](https://pages.cloudflare.com/) and generated with [Eleventy](https://www.11ty.dev/).
