---
layout: base.njk
title: Series
description: List of series
---

<h1 class="page-title">All Series</h1>

<ul class="ul-no-style">
{%- for series in collections.series -%}

  <li class="list-tag">
    {% set series_url %}/series/{{ series.data.series | slug }}/{% endset %}

    <a href="{{ series_url | url }}">
      {{- series.data.seriescs-}}
    </a>
  </li>

{%- endfor -%}
</ul>