---
pagination:
  data: collections.tags
  size: 1
  alias: tag_name
  filter:
    - all
    - post
layout: base.njk
permalink: /tags/{{ tag_name | slug }}/
eleventyComputed:
  title: "Tag {{ tag_name }}"
  description: "Nathan Craddock - Tag: {{ tag_name }}"
---

<h2 class="page-title">Posts tagged "{{ tag_name }}"</h2>

{% set postlist = collections[tag_name] %}
{% include "postlist.njk" %}
