---
title: Nathan Craddock
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description | safe }}">
        <link rel="stylesheet" href="/data/style.css">
        <title>{{ title }}</title>
    </head>

    <body>
        <main>
             <header>
                <div id="links">
                    <a class="title-link" href="/">Home</a>
                    <span class="gap"></span>
                    <a class="title-link" href="/tags">Tags</a>
                    <span class="gap"></span>
                    <a class="title-link" href="/about">About</a>
                </div>

                <div id="icons">
                    <a class="title-link" class="social-icon" href="mailto:contact@nathancraddock.com"><img class="icon" src="/data/icons/envelope.svg"></a>
                    <span class="gap"></span>
                    <a class="title-link" class="social-icon" href="https://twitter.com/natecraddock"><img class="icon" src="/data/icons/twitter.svg"></a>
                    <span class="gap"></span>
                    <a class="title-link" class="social-icon" href="https://github.com/natecraddock"><img class="icon" src="/data/icons/github.svg"></a>
                    <span class="gap"></span>
                    <a class="title-link" class="social-icon" href="/feed.xml"><img class="icon" src="/data/icons/rss.svg"></a>
                </div>

            </header>
            {{ content | safe }}
        </main>
    </body>

</html>
