---
title: Nathan Craddock
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description | safe }}">
        <link rel="stylesheet" href="/data/style.css">
        <title>{{ title }}</title>
        <script src="https://kit.fontawesome.com/92d3a8e806.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <main>
             <header>
                <div id="links">
                    <a class="title-link" href="/">Home</a>
                    <span class="gap"></span>
                    <a class="title-link" href="/tags">Tags</a>
                    <span class="gap"></span>
                    <a class="title-link" href="/about">About</a>
                </div>

                <div id="icons">
                    <a class="title-link" class="social-icon" href="mailto:contact@nathancraddock.com"><span class="icon fas fa-envelope"></span></a>
                    <span class="gap"></span>
                    <a class="title-link" class="social-icon" href="https://twitter.com/natecraddock"><span class="icon fab fa-twitter"></span></a>
                    <span class="gap"></span>
                    <a class="title-link" class="social-icon" href="https://github.com/natecraddock"><span class="icon fab fa-github"></span></a>
                    <span class="gap"></span>
                    <a class="title-link" class="social-icon" href="/feed.xml"><span class="icon fas fa-rss"></span></a>
                </div>

            </header>
            {{ content | safe }}
        </main>
    </body>

</html>
