---
title: Nathan Craddock
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description | safe }}">
        <link rel="stylesheet" href="/data/style.css">
        <title>{{ title }}</title>
    </head>

    <body>
        <main>
             <header>
                <div id="links">
                    <a class="title-link {% if active_nav === "home" %}active-nav{% endif %}" href="/">Home</a>
                    <span class="gap"></span>
                    <a class="title-link {% if active_nav === "blog" %}active-nav{% endif %}" href="/blog">Blog</a>
                    <span class="gap"></span>
                    <a class="title-link {% if active_nav === "tags" %}active-nav{% endif %}" href="/tags">Tags</a>
                </div>
            </header>
            {{ content | safe }}
        </main>
    </body>

</html>
