---
layout: base.njk
---

<h1> {{ title }} </h1>
<p class="aside">{{ date | readableDate}}</p>
<br>

{{ content | safe }}

<br>
<div id="tags">
Tags:
{% for tag in tags %}
    {%- if collections.tags.indexOf(tag) != -1 -%}
        <a class="tag" href="/tags/{{tag}}/">{{ tag }}</a>
    {%- endif -%}
{% endfor %}
</div>
