---
layout: base.njk
---

<div class="page-title">
    <h1> {{ title }} </h1>
    <span class="date">Posted {{ date | readableDate}}<span>
    {% if modified %}
        <br><span class="aside updated"><em>Updated {{ modified | readableDate }}</em></span>
    {% endif %}
</div>

{{ content | safe }}

<br>
<div id="tags">
Tags:
{% for tag in tags %}
    {%- if collections.tags.indexOf(tag) != -1 -%}
        <a class="tag" href="/tags/{{tag}}/">{{ tag }}</a>
    {%- endif -%}
{% endfor %}
</div>
