<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "_internal/twitter_cards.html" . }}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/fa/all.css">
        <title>{{ block "title" .}} {{ .Page.Title }} {{ end }}</title>
    </head>

    <body>
        <div id="container">
            <div id="content">
                <header>
                    <div id="links">
                        <a href="/">Home</a>
                        <a href="/tags">Tags</a>
                        <a href="#">About</a>
                    </div>

                    <div>
                        <a class="social-icon" href="https://twitter.com/natecraddock"><span class="fab fa-twitter"></span></a>
                        <a class="social-icon" href="https://github.com/natecraddock"><span class="fab fa-github"></span></a>
                    </div>

                </header>

                <main>
                    {{ block "main" . }}
                    {{ end }}
                </main>
        
        
                <footer>
                    Nathan Craddock 2020
                </footer>
            </div>
        </div>

        <!-- For simple page view counts -->
        <script data-goatcounter="https://nathancraddock.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </body>

</html>