<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ if isset .Params "description" }}
            <meta name="description" content="{{ .Params.description | safe }}">
        {{ end }}
        <link rel="stylesheet" href="/style.css" type="text/css">
        {{ with .OutputFormats.Get "rss" -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
        {{ end -}}

        {{ if eq .Page.Title "" }}
            <title>{{ .Site.Title }}</title>
        {{ else }}
            <title>{{ .Page.Title }} | Nathan Craddock</title>
        {{ end }}
    </head>

    <body>
        <main>
             <header>
                <div id="links">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    <a class="title-link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                    <span class="gap"></span>
                    {{ end }}
                </div>
            </header>

            {{ block "main" . }}

            {{ end }}

            <div id="scroll-buffer"></div>
        </main>
    </body>
</html>
