<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ if isset .Params "description" }}
            <meta name="description" content="{{ .Params.description | safe }}">
        {{ end }}

        <link rel=icon href=data:,>

        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="/style.css" type="text/css">
        {{ with .OutputFormats.Get "rss" -}}
            {{ printf `<link rel="%s" type="%s" href="/blog/feed.xml" title="%s" />` .Rel .MediaType.Type $.Site.Title | safeHTML }}
        {{ end -}}

        {{ if eq .Page.Title "" }}
            <title>{{ .Site.Title }}</title>
        {{ else }}
            <title>{{ .Page.Title }}</title>
        {{ end }}

        {{ if .Params.math }}
            <link rel="stylesheet" href="/katex/katex.min.css">

            <!-- The loading of KaTeX is deferred to speed up page rendering -->
            <script defer src="/katex/katex.min.js"></script>

            <!-- To automatically render math in text elements, include the auto-render extension: -->
            <script defer src="/katex/auto-render.min.js"></script>

            <!-- Inline math -->
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    renderMathInElement(document.body, {
                        delimiters: [
                            {left: "$$", right: "$$", display: true},
                            {left: "$", right: "$", display: false}
                        ]
                    });
                });
            </script>
        {{ end }}
    </head>

    <body>
        <main>
             <header>
                <div id="links">
                    <a class="title-link" href="/">Home</a>
                    <span class="gap"></span>
                    <a class="title-link" href="/blog">Blog</a>
                    <span class="gap"></span>
                    <a class="title-link" href="/tags">Tags</a>
                    <span class="gap"></span>
                    <a class="title-link" href="/blog/feed.xml">Feed</a>
                </div>
            </header>

            {{ block "main" . }}

            {{ end }}

            <div id="scroll-buffer"></div>
        </main>
    </body>
</html>
