{{ define "main" }}

<div class="post-header">
  <h1>{{ .Title }}</h1>

  {{ if isset .Params "subtitle" }}
  <p class="alt-text"><em>{{ .Params.Subtitle }}</em></p>
  {{ end }}

  <time class="alt-text" title="Last edited on {{ .Params.lastmod.Format "January 2, 2006" }}">
    {{ .Date.Format "January 2, 2006" }}
  </time>

  <div id="tags">
    {{- range sort (.GetTerms "tags") "LinkTitle" -}}
      <a class="tag title-link alt-text" href="{{ .Page.Permalink }}">{{- .Page.Title -}}</a>
    {{- end -}}
  </div>
</div>

{{ if .Params.toc }}
  <hr>
  <h2>Contents</h2>
  {{ .TableOfContents }}
{{ end }}
<hr>

<div>
  {{ .Content }}
</div>

{{ end }}
