{{ define "main" }}

<div class="post-header">
  <h1>{{ .Title }}</h1>

  {{ if isset .Params "subtitle" }}
  <p class="alt-text"><em>{{ .Params.Subtitle }}</em></p>
  {{ end }}

  <time class="alt-text" title="Last edited on {{ .Lastmod.Format "January 2, 2006" }}">
    {{ .Date.Format "January 2, 2006" }}
  </time>

  <div id="tags">
    {{- range sort (.GetTerms "tags") "LinkTitle" -}}
      <a class="tag title-link alt-text" href="{{ .Page.Permalink }}">{{- .Page.Title -}}</a>
    {{- end -}}
  </div>
</div>

{{ if .Params.toc }}
  <hr>
  <h2>Table of Contents</h2>
  {{ .TableOfContents }}
{{ end }}
<hr>

<div>
  {{ .Content }}
</div>

{{ if isset .Params "series" }}
  <hr>
  {{ $name := .Params.series | urlize }}
  {{ $series := index .Site.Taxonomies.series $name }}

  <h2>This is a post in the {{ .Params.series }} series</h2>
  {{ range $series.Pages.Reverse }}
    {{ partial "date-list.html" . }}
  {{ end }}

{{ end }}

{{ end }}
