@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html {
	font-size: 16pt;
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
	background-color: #FDFDFD;
	color: #2d2d2d;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

p {
	margin-top: 0;
}

h1 {
	font-size: 28pt;
	letter-spacing: 0.1rem;
	margin-top: 2rem;
}

h2, h3, h4, h5, h6 {
	letter-spacing: 0.1rem;
	padding-top: 1.5rem;
	margin-bottom: 0;
}

img {
	margin: auto;
	display: block;
	max-width: 100%;
	height: auto;
}

code {
	font-size: 12pt;
}

.highlighter-rouge {
	overflow-x: auto;
	margin-bottom: 1rem;
}

.highlight {
	margin: 0;
	/* overflow-x: auto;	 */
}

#content a {
	color: #2687b8;
	text-decoration: none;
	width: 100%;
}

#content a:hover {
	color: #76ccf7;
}

#awesome {
	font-weight: 200;
}

/* MOBILE */
#container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#header {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	padding: 1rem;
	padding-top: 0;
	background-color: #2d2d2d;
	color: #FCFCFC;
	font-size: 28pt;
	font-weight: 400;
}

#header a {
	text-decoration: none;
}

#content {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 6rem;
	overflow: auto;
}

#title {
	margin-top: 2rem;
	margin-bottom: 0;
	font-size: 37pt;
}

#subtitle {
	font-size: 28pt;
}

#navigation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-decoration: none;
}

#navigation a {
	color: #FCFCFC;
	padding-bottom: 5px;
}

#navigation a:hover {
	border-bottom: solid 4px;
}

#navigation .active {
	border-bottom: solid 4px;
}

.nav {
	padding: 1rem 1rem 0 1rem;
}

#social {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

#social > a {
	color: #FCFCFC;
	padding: 1rem;
}

#social > a:hover {
	color: #adadad;
}

.date {
	letter-spacing: 0.1rem;
}

/* MEDIUM */
@media only screen and (min-width: 800px) {
	html {
		font-size: 12pt;
	}

	#container {
		min-height: 100vh;
		flex-direction: row;
		align-items: stretch;
	}

	#header {
		padding-top: 3rem;
		flex-shrink: 0;
		width: 12rem;
	}

	#content {
		flex-grow: 1;
		padding-left: 3rem;
		padding-right: 5rem;
		max-width: 40rem;
		height: 100%;
	}

	#title {
		margin-top: 0;
		font-size: 28pt;
	}

	#navigation {
		flex-direction: column;
		padding-bottom: 1rem;
	}

	.nav {
		padding: 1rem 1rem 0 1rem;
	}

	#social {
		justify-content: space-evenly;
		font-size: 21pt;
	}

	#social > a {
		padding: 0;
	}
}

/* DESKTOP */
@media only screen and (min-width: 1000px) {
	html {
		font-size: 16pt;
	}

	h1 {
		font-size: 37pt;
	}

	#title {
		font-size: 37pt;
	}

	#content {
		padding-left: 3rem;
		padding-right: 5rem;
		max-width: 40rem;
		height: 100%;
	}
}
