@import "light.css" screen;
@import "dark.css" screen and (prefers-color-scheme: dark);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --text: #000000;
    --text-alt: #555555;
    --text-accent: #dfdfdf;
    --link: #36769b;
    --background: #fdfdfd;
    --select-highlight: #c9ddf7;

    --sans-font: -apple-system, BlinkMacSystemFont, "Liberation Sans", Roboto, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --mono-font: San Francisco Mono, Monaco, "Liberation Mono", "Consolas", "Lucida Console", "DejaVu Sans Mono", monospace;

    scroll-behavior: smooth;

    font-family: var(--sans-font);
    font-size: 12pt;
}

@media (prefers-color-scheme: dark) {
    html {
        --text: #fbfbfb;
        --text-alt: #bbbbbb;
        --text-accent: #343434;
        --background: #1c1c1c;
        --link: #88aec3;
        --select-highlight: #2a649d;
    }
}

body {
    color: var(--text);
    background-color: var(--background);
    word-wrap: break-word;
}

img {
    margin-top: 1ch;
    margin-bottom: 2ch;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1ch;
}

ol, ul, p {
    margin-bottom: 1rem;
}

p, li {
    line-height: 1.6em;
}

li {
    margin-left: 2ch;
}

small {
    display: block;
    border-left: solid var(--text-accent) 5px;
    color: var(--text-alt);
}

small p {
    font-size: 11pt;
    margin-left: 1rem;
}

blockquote {
    margin-bottom: 1rem;
    font-style: italic;
}

blockquote p {
    margin-bottom: 0;
    margin-left: 1rem;
}

/* General Tags */
.title {
    display: inline-block;
}

.ul-no-style {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ul-no-style li {
    margin-left: 0;
}

.gap {
    margin: 1ch;
}

.post-header {
    margin-bottom: 2ch;
}

.title-link {
    color: var(--text);
}

a {
    color: var(--link);
}

a:hover {
    color: var(--text-alt);
}

.header-anchor {
    color: var(--text);
    text-decoration: none;
}

.header-anchor:hover {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.active-nav {
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1fr min(72ch, 90%) 1fr;
}

main > * {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / -1;
}

#series-nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#series-nav span {
    display: inline-block;
    width: 30%
}

#series-nav span:first-child {
    text-align: left;
}

#series-nav span:last-child {
    text-align: right;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 50vh;
    object-fit: cover;
}

::-moz-selection,
::selection {
    background: var(--select-highlight);
}

footer {
    padding-bottom: 1rem;
}

hr {
    padding: 1ch;
    margin: 2ch 0 2ch 0;
    border: 0;
    border-top: 1px solid var(--text-accent);
}

#scroll-buffer {
    display: block;
    height: 10%;
    margin-top: 10%;
}

.nowrap {
    white-space: nowrap;
}

.link-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-post, .list-tag {
    padding-bottom: 1rem;
}

.list-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.current-series {
    font-weight: bold;
}

.alt-text {
    color: var(--text-alt);
}

@media screen and (max-width: 650px) {
    .link-name {
        white-space: normal;
        overflow: visible;
    }

    .list-post {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

#tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    margin-top: 1rem;
}

.tag {
    display: inline-block;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border-radius: 5px;
    border: 1px solid var(--text-alt);
    text-decoration: none;
    font-weight: normal;
}

/* syntax highlight */

code {
    font-family: var(--mono-font);
    font-size: 10pt;
}

:not(pre) > code {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 5px;
    background-color: var(--text-accent);
}

pre {
    word-wrap: normal;
    padding: 0.5rem;
    overflow-x: auto;
    line-height: 1.1em;
    border-radius: 5px
}

.highlight {
    border: 1px solid var(--text-alt);
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.labeled-code {
    border-radius: 5px;
    border: 1px solid var(--text-alt);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.labeled-code > .highlight {
    border: none;
    margin: 0;
}

.code-header {
    font-family: var(--mono-font);
    font-size: 10pt;
    line-height: 1.4rem;
    padding-left: 0.5rem;
    border-bottom: 1px solid var(--text-alt);
}
