@import "light.css" screen;
@import "dark.css" screen and (prefers-color-scheme: dark);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light dark;
}

html {
    --text: #000000;
    --text-alt: #555555;
    --text-accent: #eaeaea;
    --link: #36769b;
    --background: #fbfbfb;
    --select-highlight: #c9ddf7;
    --code-background: #eaeaea;

    --sans-font: -apple-system, BlinkMacSystemFont, "Liberation Sans", Roboto, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --mono-font: San Francisco Mono, Monaco, "Liberation Mono", "Consolas", "Lucida Console", "DejaVu Sans Mono", monospace;

    font-family: var(--sans-font);
    font-size: 12pt;
}

@media (prefers-color-scheme: dark) {
    html {
        --text: #fbfbfb;
        --text-alt: #bbbbbb;
        --text-accent: #303030;
        --background: #1c1c1c;
        --link: #88aec3;
        --select-highlight: #2a649d;
        --code-background: #505050;
    }

    .invert {
        filter: invert(100%);
    }
}

body {
    color: var(--text);
    background-color: var(--background);
    word-wrap: break-word;
}

img {
    margin-top: 1ch;
    margin-bottom: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    border: solid 1px var(--text-accent);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.8ch;
}

h2, h3, h4, h5, h6 {
    padding-top: 1rem;
}

h1 > code, h2 > code, h3 > code, h4 > code, h5 > code, h6 > code {
    font-size: inherit;
}


ol, ul, p, details, video {
    margin-bottom: 1.3rem;
}

li > ul, li > ol {
    margin-bottom: 0;
}

p, li {
    line-height: 1.7em;
}

ol, ul {
    margin-left: 1.6rem;
}

blockquote {
    border-left: solid var(--text-accent) 4px;
    margin-bottom: 1rem;
    font-style: italic;
    padding-left: 1rem;
}

blockquote p {
    text-align: left;
}

/* fix in-line formatting */
sub, sup {
    line-height: 0;
}

/* General Tags */
.title {
    display: inline-block;
}

.ul-no-style {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 1rem;
}

.ul-no-style li {
    margin-left: 0;
}

.gap {
    margin: 1ch;
}

.post-header {
    margin-bottom: 2ch;
    text-align: left;
}

.title-link {
    color: var(--text);
}

a {
    color: var(--link);
}

a:has(code) {
    text-decoration: none;
}

a:hover {
    color: var(--text-alt);
}

.header-anchor {
    color: var(--text);
    text-decoration: none;
}

.header-anchor:hover {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.active-nav {
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1fr min(72ch, 90%) 1fr;
}

main > * {
    grid-column: 2;
}

footer {
    padding-bottom: 1rem;
}

hr {
    padding: 1ch;
    margin: 2ch 0 2ch 0;
    border: 0;
    border-top: 1px solid var(--text-accent);
}

.footnotes hr {
    margin: 3ch 0 3ch 0;
    padding: 0;
}

.footnote-ref {
    text-decoration: none;
}

#scroll-buffer {
    display: block;
    height: 10%;
    margin-top: 10%;
}

.nowrap {
    white-space: nowrap;
}

.link-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.list-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 0.5rem;
}

.alt-text {
    color: var(--text-alt);
}

@media screen and (max-width: 650px) {
    .link-name {
        white-space: normal;
        overflow: visible;
    }

    .list-post {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

#tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    margin-top: 1rem;
}

.tag {
    display: inline-block;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border-radius: 5px;
    border: 1px solid var(--text-alt);
    text-decoration: none;
    font-weight: normal;
}

.tag-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

/* syntax highlight */

code {
    font-family: var(--mono-font);
    font-size: 10pt;
    padding: 2px;
    border-radius: 4px;
}

:not(pre) > code {
    background-color: var(--code-background);
}

pre > code {
    /* background-color: var(--background); */
    padding: 0;
}

pre {
    word-wrap: normal;
    overflow-x: auto;
    line-height: 1.2em;
    padding: 1rem;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.highlight {
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    overflow: hidden;
}

.labeled-code {
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    overflow: hidden;
}

.labeled-code > .highlight {
    border: none;
    margin: 0;
}

.code-header {
    font-style: italic;
    font-family: var(--mono-font);
    font-size: 8pt;
}
